[project]
	description = Cache expensive methods calls with a declarative attribute. No custom code required. Configure caching method. 
[access "refs/*"]
	owner = group user/Adam Bell (agbell)
[access "refs/for/refs/*"]
	read = group user/Adam Bell (agbell)
	push = group user/Adam Bell (agbell)
	label-Code-Review = -2..+2 group user/Adam Bell (agbell)
	label-Verified = -1..+1 group user/Adam Bell (agbell)
	rebase = group user/Adam Bell (agbell)
	removeReviewer = group user/Adam Bell (agbell)
	submit = group user/Adam Bell (agbell)
[access "refs/heads/*"]
	read = group user/Adam Bell (agbell)
	create = group user/Adam Bell (agbell)
	push = +force group user/Adam Bell (agbell)
	pushMerge = group user/Adam Bell (agbell)
[access "refs/tags/*"]
	push = +force group user/Adam Bell (agbell)
	pushTag = group user/Adam Bell (agbell)
	pushSignedTag = group user/Adam Bell (agbell)
