<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheAspect.CacheType" value="CacheAspect.InProcessMemoryCache"/>
    <!-- Working directory is fine for disk cache-->
    <add key="CacheAspect.DiskPath" value=""/>    
    <add key="CacheAspect.TimeToLive" value="7:0:0:0"/>
  </appSettings>
</configuration>